#cloud-config
hostname: {{ inventory_hostname }}
locale: en_US.UTF-8
keyboard:
  layout: es
ssh_pwauth: true
users:
  - name: debian
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "{{ debian_password_hash | default(debian_user_password | password_hash('sha512')) }}"
    groups: [adm, audio, cdrom, dialout, dip, floppy, lxd, netdev, plugdev, sudo, video]
    ssh_authorized_keys:
      - {{ ansible_ssh_public_key_content | default(ssh_public_key) }}

packages:
  - kbd
  - console-setup
  - keyboard-configuration
  - fish
  - htop
  - btop

runcmd:
  - echo "debian:{{ debian_user_password }}" | chpasswd
  - locale-gen en_US.UTF-8
  - update-locale LANG=en_US.UTF-8
  - DEBIAN_FRONTEND=noninteractive apt-get update
  - echo "keyboard-configuration keyboard-configuration/layoutcode string es" | debconf-set-selections
  - echo "keyboard-configuration keyboard-configuration/variantcode string " | debconf-set-selections
  - echo "keyboard-configuration keyboard-configuration/modelcode string pc105" | debconf-set-selections
  - DEBIAN_FRONTEND=noninteractive dpkg-reconfigure -f noninteractive keyboard-configuration
  - sed -i 's/XKBLAYOUT=.*/XKBLAYOUT="es"/' /etc/default/keyboard || echo 'XKBLAYOUT="es"' >> /etc/default/keyboard
  - sed -i 's/XKBVARIANT=.*/XKBVARIANT=""/' /etc/default/keyboard || echo 'XKBVARIANT=""' >> /etc/default/keyboard
  - sed -i 's/XKBMODEL=.*/XKBMODEL="pc105"/' /etc/default/keyboard || echo 'XKBMODEL="pc105"' >> /etc/default/keyboard
